In [2]:
### read_csv
import pandas as pd
from pandas import DataFrame, read_csv
st = pd.read_csv('student-mat.csv',sep=';') ### You can change the delimiter
st.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [15]:
### Excel File
xls_file = pd.ExcelFile('test.xlsx')
table = xls_file.parse('Sheet1')
table

  Name   Age Gender
0   aaa   54      M
1   bbb   34      F
2   ccc   23      M
3   ddd   23      M
4   eee   12      F

In [16]:
### JSON data format
import json
obj = """
{
"name": "Wes", 
"places_lived": ["United States", "Spain", "Germany"], 
"pet": "cat", 
"siblings": [{"name": "Scott", "age": 25, "pet": "Zuko"},
             {"name": "Katie", "age": 33, "pet": "Cisco"}] }"""

In [17]:
### Convert JSON string to python form### Con 
result = json.loads(obj)
result

{'name': 'Wes',
 'pet': 'cat',
 'places_lived': ['United States', 'Spain', 'Germany'],
 'siblings': [{'age': 25, 'name': 'Scott', 'pet': 'Zuko'},
  {'age': 33, 'name': 'Katie', 'pet': 'Cisco'}]}

In [18]:
### Extracting some data frame from JSON data format
siblings = DataFrame(result['siblings'], columns=['name', 'age'])
siblings

    name  age
0  Scott   25
1  Katie   33

In [19]:
### Back to JSON
asjson = json.dumps(result)
asjson

'{"name": "Wes", "places_lived": ["United States", "Spain", "Germany"], "pet": "cat", "siblings": [{"name": "Scott", "age": 25, "pet": "Zuko"}, {"name": "Katie", "age": 33, "pet": "Cisco"}]}'